.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 32px;
    margin-top: 96px;
    margin-bottom: 48px;
}

.header {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 16px;
    color: #3f51b5;
}

.subheader {
    font-size: 24px;
    margin-bottom: 16px;
}

.formGroup {
    margin: 19px 0;
}

.formText {
    display: block;
    margin-top: 5px;
    color: #888;
}

.toggleWrapper {
    margin: 32px 0;
}

.socialInput {
    display: flex;
}

.icon {
    padding: 8px;
}

.github {
    color: #24292e;
}

.twitter {
    color: #38a1f3;
}

.facebook {
    color: #3b5998;
}

.linkedIn {
    color: #0077b5;
}

.link {
    text-decoration: none;
    color: #3f51b5;
}
