.landing {
    position: relative;
    // background-image: url('../img/showcase.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.darkOverlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.landingInner {
    color: #fff;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header {
    font-size: 64px;
    line-height: 1.2;
    margin-bottom: 16px;
}

.introMessage {
    font-size: 24px;
    margin-bottom: 16px;
}
